@import "../../scss/index";

.user-card {
    background-color: $dark-gray;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    border: none;
}

.profile-img {
    width: 150px;
    object-fit: cover;
    height: 150px;
    z-index: 1;
}

.introduction {
    font-size:12px;
}

.rectangle {
    width: 30px;
    height: 10px;
    border: 1px solid $super-dark-gray;
    &.red {
        background-color: $red;
    }

    &.blue {
        background-color: $blue;
    }
}

.inner-shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}