
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

$font-family-base: "Source Sans Pro", Helvetica, Arial, serif;

$border-color: $light-gray;

$navbar-light-color: $light-gray;
$navbar-light-active-color: $light-gray;

$theme-colors: (
  "primary": $dark-gray,
);