body {
  background-color: $background-gray;
  color: $white;
  font-style: normal;
  height: 100vh;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto -50px;
}

.push,
.footer {
  height: 50px;
}


h6 {
    color: $light-gray;
}

.btn-primary {
    background-color: $dark-gray;
    border: 0;

    &:hover, &:active, &:focus {
      background-color: change-color($color:$dark-gray, $alpha: 0.5) !important;
      outline: 0 !important;
    }

    
}

.show > .dropdown-toggle {
      background: $yellow !important;
    }

.nav {
  background-color: $super-dark-gray;
}

.bottom-shadow {
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.4);
}

.top-shadow {
  box-shadow: 0px -5px 0px 0px rgba(0,0,0,0.4);
}

.yellow {
  color: $yellow !important;
}

.red {
  color: $red !important;
}

.green{
  color: $green !important;
}

.blue {
  color: $blue !important;
}