

// colors
$light-gray: rgba(157, 158, 159, 1.0);
$background-gray: rgba(42,44,47,1.0);
$gray: rgba(52,55,58,1.0);
$dark-gray: rgba(59, 61, 63, 1.0);
$super-dark-gray: rgba(20, 21, 23, 1.0);
$white: rgba(239, 242, 245, 1.0);
$red: rgba(255, 0, 11, 1.0);
$blue: rgba(80, 120, 191, 1.0);
$yellow: rgba(249, 142, 0, 1.0);
$green: rgba(0, 152, 62, 1.0);
